WPF/LuckyBallsData/Service References/ServiceReference1/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBSqlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISqlService_GetLotteryData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryData" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLotteryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetAllLotteries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLotteries" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetAllLotteries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLotteriesResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLotteryCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryCount" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLotteryCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLotteriesByIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteriesByIndex" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLotteriesByIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteriesByIndexResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLotteriesByIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteriesByIssue" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLotteriesByIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteriesByIssueResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetDataVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataVersion" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetDataVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetAttributesTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributesTemplate" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetAttributesTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributesTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLatestAttributes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestAttributes" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLatestAttributes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestAttributesResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLatestReleaseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestReleaseInfo" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLatestReleaseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestReleaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetMatrixTableItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatrixTableItem" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetMatrixTableItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatrixTableItemResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_RegisterUserChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserChannel" />
  </wsdl:message>
  <wsdl:message name="ISqlService_RegisterUserChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserChannelResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetUserChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserChannels" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetUserChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_RememberUserLastLoginDate_InputMessage">
    <wsdl:part name="parameters" element="tns:RememberUserLastLoginDate" />
  </wsdl:message>
  <wsdl:message name="ISqlService_RememberUserLastLoginDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:RememberUserLastLoginDateResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLatestSoftwareVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestSoftwareVersion" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetLatestSoftwareVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestSoftwareVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetReleaseNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReleaseNotes" />
  </wsdl:message>
  <wsdl:message name="ISqlService_GetReleaseNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReleaseNotesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISqlService">
    <wsdl:operation name="GetLotteryData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetLotteryData" message="tns:ISqlService_GetLotteryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetLotteryDataResponse" message="tns:ISqlService_GetLotteryData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLotteries">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetAllLotteries" message="tns:ISqlService_GetAllLotteries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetAllLotteriesResponse" message="tns:ISqlService_GetAllLotteries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLotteryCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetLotteryCount" message="tns:ISqlService_GetLotteryCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetLotteryCountResponse" message="tns:ISqlService_GetLotteryCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLotteriesByIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetLotteriesByIndex" message="tns:ISqlService_GetLotteriesByIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetLotteriesByIndexResponse" message="tns:ISqlService_GetLotteriesByIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLotteriesByIssue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetLotteriesByIssue" message="tns:ISqlService_GetLotteriesByIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetLotteriesByIssueResponse" message="tns:ISqlService_GetLotteriesByIssue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetDataVersion" message="tns:ISqlService_GetDataVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetDataVersionResponse" message="tns:ISqlService_GetDataVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributesTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetAttributesTemplate" message="tns:ISqlService_GetAttributesTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetAttributesTemplateResponse" message="tns:ISqlService_GetAttributesTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestAttributes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetLatestAttributes" message="tns:ISqlService_GetLatestAttributes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetLatestAttributesResponse" message="tns:ISqlService_GetLatestAttributes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestReleaseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetLatestReleaseInfo" message="tns:ISqlService_GetLatestReleaseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetLatestReleaseInfoResponse" message="tns:ISqlService_GetLatestReleaseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatrixTableItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetMatrixTableItem" message="tns:ISqlService_GetMatrixTableItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetMatrixTableItemResponse" message="tns:ISqlService_GetMatrixTableItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetVersion" message="tns:ISqlService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetVersionResponse" message="tns:ISqlService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUserChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/RegisterUserChannel" message="tns:ISqlService_RegisterUserChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/RegisterUserChannelResponse" message="tns:ISqlService_RegisterUserChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserChannels">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetUserChannels" message="tns:ISqlService_GetUserChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetUserChannelsResponse" message="tns:ISqlService_GetUserChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RememberUserLastLoginDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/RememberUserLastLoginDate" message="tns:ISqlService_RememberUserLastLoginDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/RememberUserLastLoginDateResponse" message="tns:ISqlService_RememberUserLastLoginDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestSoftwareVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetLatestSoftwareVersion" message="tns:ISqlService_GetLatestSoftwareVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetLatestSoftwareVersionResponse" message="tns:ISqlService_GetLatestSoftwareVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReleaseNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlService/GetReleaseNotes" message="tns:ISqlService_GetReleaseNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlService/GetReleaseNotesResponse" message="tns:ISqlService_GetReleaseNotes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISqlService" type="tns:ISqlService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLotteryData">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetLotteryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLotteries">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetAllLotteries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLotteryCount">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetLotteryCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLotteriesByIndex">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetLotteriesByIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLotteriesByIssue">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetLotteriesByIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataVersion">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetDataVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttributesTemplate">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetAttributesTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAttributes">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetLatestAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestReleaseInfo">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetLatestReleaseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatrixTableItem">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetMatrixTableItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUserChannel">
      <soap:operation soapAction="http://tempuri.org/ISqlService/RegisterUserChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserChannels">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetUserChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RememberUserLastLoginDate">
      <soap:operation soapAction="http://tempuri.org/ISqlService/RememberUserLastLoginDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestSoftwareVersion">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetLatestSoftwareVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReleaseNotes">
      <soap:operation soapAction="http://tempuri.org/ISqlService/GetReleaseNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBSqlService">
    <wsdl:port name="BasicHttpBinding_ISqlService" binding="tns:BasicHttpBinding_ISqlService">
      <soap:address location="http://dbdataquery.cloudapp.net/DBSqlService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>