Metro/LuckyBallsData/Service References/DBUserControlService/DBUseControlService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBUseControlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dbdataquery.cloudapp.net/DBUseControlService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dbdataquery.cloudapp.net/DBUseControlService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUseControlService_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IUseControlService_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUseControlService_GetLatestSoftwareVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestSoftwareVersion" />
  </wsdl:message>
  <wsdl:message name="IUseControlService_GetLatestSoftwareVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestSoftwareVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IUseControlService_GetReleaseNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReleaseNotes" />
  </wsdl:message>
  <wsdl:message name="IUseControlService_GetReleaseNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReleaseNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IUseControlService_PostFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:PostFeedback" />
  </wsdl:message>
  <wsdl:message name="IUseControlService_PostFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="IUseControlService_PostRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:PostRecord" />
  </wsdl:message>
  <wsdl:message name="IUseControlService_PostRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IUseControlService">
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUseControlService/UserLogin" message="tns:IUseControlService_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUseControlService/UserLoginResponse" message="tns:IUseControlService_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestSoftwareVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IUseControlService/GetLatestSoftwareVersion" message="tns:IUseControlService_GetLatestSoftwareVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUseControlService/GetLatestSoftwareVersionResponse" message="tns:IUseControlService_GetLatestSoftwareVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReleaseNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUseControlService/GetReleaseNotes" message="tns:IUseControlService_GetReleaseNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUseControlService/GetReleaseNotesResponse" message="tns:IUseControlService_GetReleaseNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/IUseControlService/PostFeedback" message="tns:IUseControlService_PostFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUseControlService/PostFeedbackResponse" message="tns:IUseControlService_PostFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUseControlService/PostRecord" message="tns:IUseControlService_PostRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUseControlService/PostRecordResponse" message="tns:IUseControlService_PostRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUseControlService" type="tns:IUseControlService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IUseControlService/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestSoftwareVersion">
      <soap:operation soapAction="http://tempuri.org/IUseControlService/GetLatestSoftwareVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReleaseNotes">
      <soap:operation soapAction="http://tempuri.org/IUseControlService/GetReleaseNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostFeedback">
      <soap:operation soapAction="http://tempuri.org/IUseControlService/PostFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostRecord">
      <soap:operation soapAction="http://tempuri.org/IUseControlService/PostRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBUseControlService">
    <wsdl:port name="BasicHttpBinding_IUseControlService" binding="tns:BasicHttpBinding_IUseControlService">
      <soap:address location="http://dbdataquery.cloudapp.net/DBUseControlService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>